.pagination {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
}

.page {
  padding: 4px;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}

.text {
  padding: 4px;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}

.active {
  padding: 4px;
  list-style-type: none;
  background-color: #ffffff;
  border-bottom: 4px solid #000000;
}

.disable {
  color: #9e9e9e;
}
